.productCard {
	border-radius: 30px;
	display: grid;
	gap: 55px;
	align-items: center;
	padding: 20px;
	background-color: #FFFFFF;
	box-shadow: 0 0 20px 0 #0000001A;
	transition: 0.5s;
}

.productCard:hover {
	transform: scale(1.02);
}

.productCardImg {
	display: flex;
	width: 220px;
	height: 238px;
	align-self: center;
	justify-self: center;
	justify-content: center;
	align-items: center;
}

.productCardDescription {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	row-gap: 25px;
	align-items: baseline;
}

.productCardTitle {
	font-size: 17px;
	font-weight: 600;
	line-height: 21px;
	color: #1C1C27;
}

.productCardPrices {
	display: grid;
	gap: 1px;
	justify-self: end;
}

.productCardPrice {
	font-size: 17px;
	font-weight: 600;
	line-height: 21px;
	color: #FFA542;
}

.productCardOldPrice {
	font-size: 13px;
	font-weight: 600;
	line-height: 16px;
	text-decoration: line-through;
	color: #FFCE7F;
}

.productCardRate {
	display: flex;
	gap: 10px;
	align-items: center;
}

.rateIcon {
	width: 23px;
	height: 23px;
}

.productCardRateNumber {
	font-size: 17px;
	font-weight: 600;
	line-height: 21px;
	color: #838383;
}

.productCardBuyButton {
	border: none;
	font-size: 17px;
	font-weight: 600;
	line-height: 21px;
	text-align: left;
	color: #000000;
	background-color: #FFFFFF;
	justify-self: end;
	cursor: pointer;
	transition: 0.5s;
}

.productCardBuyButton:hover {
	color: #FFA542;
	cursor: pointer;
}