.containerFooter {
	max-width: 1110px;
	margin: 20px auto 0 auto;
}

.footerContent {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 30px;
	margin-inline: 20px;
	background-color: #FFFFFF;
	border-radius: 30px 30px 0 0;
	box-shadow: 0 0 20px 0 #0000001A;
}

@media (max-width: 900px) {
	.footerContent {
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}
}

@media (max-width: 600px) {
	.footerContent {
		gap: 30px;
	}
}

@media (max-width: 480px) {
	.footerContent {
		grid-template-columns: 1fr;
	}
}

.siteName {
	font-size: 25px;
	font-weight: 700;
	line-height: 31px;
	color: #101010;
	transition: 0.5s;
}

.siteName:hover {
	color: #FFA542;
	cursor: pointer;
}

.footerNav {
	display: grid;
	gap: 11px;
}

.footerLink {
	font-size: 17px;
	font-weight: 400;
	line-height: 21px;
	color: #101010;
	transition: 0.5s;
}

.footerLink:hover {
	color: #FFA542;
	cursor: pointer;
}

.conditionAndLanguages {
	display: grid;
	gap: 35px;
}

@media (max-width: 900px) {
	.conditionAndLanguages {
		gap: 10px;
	}
}

.condition {
	font-size: 17px;
	font-weight: 400;
	line-height: 21px;
	transition: 0.5s;
	color: #101010;
}

.condition:hover {
	color: #FFA542;
	cursor: pointer;
}

.languages {
	display: flex;
	gap: 17px;
}

.languageIcon {
	width: 20px;
	height: 20px;
}

.languagesButton {
	background: none;
	border: none;
	transition: 0.5s;
}

.languagesButton:hover {
	color: #FFA542;
	cursor: pointer;
}

.footerSocial {
	display: flex;
	gap: 18px;
	justify-content: end;
}

@media (max-width: 900px) {
	.footerSocial {
		justify-self: baseline;
		align-items: flex-end;
	}
}

.footerSocialIcon {
	width: 30px;
	height: 30px;
	transition: 0.5s;
}

.footerSocialIcon:hover, .footerSocialIconVK:hover {
	transform: scale(1.15);
}

.footerSocialIconVK {
	width: 30px;
	height: 20px;
	margin-top: 7px;
	transition: 0.5s;

}