.containerCart {
	max-width: 1110px;
	margin: 30px auto 30px auto;
}

.containerCartTitle {
	font-size: 20px;
	font-weight: 600;
	text-align: left;
	color: #1C1C27;
	margin-bottom: 13px;
}

.cartBlock {
	margin-inline: 20px;
}

.containerCartBlock {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 900px) {
	.containerCartBlock {
		flex-direction: column;
		gap: 20px;
	}
}

.cartListAll {
	display: grid;
	gap: 15px;
}

@media (max-width: 900px) {
	.cartListAll {
		gap: 15px;
	}
}

.containerCartText {
	margin-top: 30px;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	text-align: left;
	color: #838383;
}